<h2 class="displayer">{{restaurant.name}}
  <span *ngFor="let star of [].constructor(restaurant.rating)">&#11088;</span>
  <button class="button-6" (click)="openModal(reservationModal)">Направи резервација</button>
</h2>
<div class="grid-wrapper">
  <div *ngFor="let r of restaurantImages; index as i" [class]="getImageClass(i)">
    <img [src]="r" alt=""/>
  </div>
</div>
<ng-template #reservationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Фати си маса!</h4>
    <button type="button" class="close" (click)="modal.close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form #f="ngForm" (ngSubmit)="f.form.valid && makeReservation(modal) && isDateInPast()">
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-user prefix grey-text"></i>&nbsp;
        <label data-error="wrong" data-success="right" for="guests">За колку личности?</label>
        <div class="form-group">
          <input
            type="number"
            id="guests"
            name="guests"
            [(ngModel)]="numberOfGuests"
            #guests="ngModel"
            class="form-control"
            required
          >
          <div class="alert-danger" *ngIf="!guests.valid && f.submitted">
            Невалиден број на луѓе.
          </div>
        </div>
      </div>

      <div class="md-form mb-5">
        <i class="fas fa-clock prefix grey-text"></i>&nbsp;
        <label data-error="wrong" data-success="right" for="guests">Во колку часот?</label>
        <div class="form-group">
          <input
            type="datetime-local"
            name="datepicker"
            id="datepicker"
            [(ngModel)]="date"
            #dates="ngModel"
            class="form-control"
            required>

          <div class="alert-danger" *ngIf="!dates.valid && f.submitted">
            Невалиден датум.
          </div>
          <div class="alert-danger" *ngIf="isDateInPast() && f.submitted">
            Датумот е во минатото.
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-default" type="submit">Резервирај</button>
    </div>
  </form>
</ng-template>
