<div class="card" style="width: 18rem;">
  <img [src]="getSelectedCityFirstRestaurantImage(restaurant.name)" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{restaurant.name}}</h5>
    <p class="card-text">Максимален капацитет на објектот е {{restaurant.maxCapacity}} личности.</p>
    <p class="card-text">Моментален слободен капацитет на објектот е {{restaurant.currentFreeCapacity}} личности.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Оцена {{restaurant.rating}} од 5.</li>
  </ul>
  <div class="card-body">
    <a class="card-link" (click)="openRestaurant()">Отвори ресторан</a>
  </div>
  <div class="card-body" *ngIf="isAdminUser()">
    <button class="btn btn-danger" (click)="deleteRestaurant()">Избриши ресторан</button>
    <br>
    <br>
    <button class="btn btn-primary" [routerLink]="['/admin/' + restaurant.id]">Ажурирај ресторан</button>
  </div>
</div>
