html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
  box-sizing: border-box;
}

.custom-card {
  width: 350px;
  max-width: 100%;
  background-color: #eee !important;
}
